.info-section {
  height: 213px; 
}

.info-middle-content {
  width: 200px;
}

.mage-areaimage-area {
  width: 90px;
}

.description-section {
  height: 220px; 
  border: 1px solid;
  border-radius: 5px;
  border-color: #E7E7E7;
  padding-bottom: 30px;
}

.description-input, textarea:focus {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  resize: none;
}

#description-input{
  height: 221px;
}

.h1-justify {
  justify-content: center;
  align-content: center;
}

.description-picture-area {
  width: 322px;
}

.form-fiels-area {
  width: 826px;
}