<header class="general-header container">
  <section class="row height-1hundred-percent">
    <img class="logo" src="../../assets/logo.png" alt="">
    <div class="col">
      <h1>Leia Mais</h1>
    </div>
    <nav class="height-1hundred-percent col">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="gap-2 height-1hundred-percent">
        <li [ngbNavItem]="1">
          <button class="btn btn-primary-green button-activated" routerLink="/">Vitrine</button>
          <ng-template ngbNavContent>Vitrine</ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button class="btn btn-primary-green button-activated" routerLink="/livros">Livros</button>
          <ng-template ngbNavContent>Livros</ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button class="btn btn-primary-green button-activated">Editoras</button>
          <ng-template ngbNavContent>Editoras</ng-template>
        </li>
      </ul>
    </nav>
  </section>
</header>
<body class="container">
  <main class="row">
    <section class="col">
      <h1 class="h1-justify">Adicionar um novo livro ao catálogo</h1>
    </section>
  </main>
  <form class="container form-group">
    <section class="row">
      <div class="col">
        <fieldset class="container">
          <div class="row description-picture-area">
            <h2>Novos</h2>
            <section class="container">
              <div class="row">
                <label for="description-input">Descrição</label>
                <input type="text" class="form-control" id="description-input" aria-describedby="descriptionTextBox" placeholder="Insira aqui a descrição do livro">
              </div>
            </section>
          </div>
        </fieldset>
      </div>
      <div class="col">
        <fieldset class="container">
          <div class="row form-fiels-area">
            <section class="container">
              <div class="row">
                <div class="col">
                  <label for="description-input">Descrição</label>
                  <input type="text" class="form-control" id="description-input" aria-describedby="descriptionTextBox" placeholder="Insira aqui a descrição do livro">
                </div>
                <div class="col">
                  <label for="description-input">Descrição</label>
                  <input type="text" class="form-control" id="description-input" aria-describedby="descriptionTextBox" placeholder="Insira aqui a descrição do livro">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="description-input">Descrição</label>
                  <input type="text" class="form-control" id="description-input" aria-describedby="descriptionTextBox" placeholder="Insira aqui a descrição do livro">
                </div>
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Toggle dropdown
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>Action - 1</button>
                      <button ngbDropdownItem>Another Action</button>
                      <button ngbDropdownItem>Something else is here</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="description-input">Descrição</label>
                  <input type="text" class="form-control" id="description-input" aria-describedby="descriptionTextBox" placeholder="Insira aqui a descrição do livro">
                </div>
                <div class="col">
                  <div class="container">
                    <div class="row">
                      <label>Disponível</label>
                      <div class="col">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                          <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                          <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Toggle dropdown
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>Action - 1</button>
                      <button ngbDropdownItem>Another Action</button>
                      <button ngbDropdownItem>Something else is here</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label for="description-input">Descrição</label>
                  <input type="text" class="form-control" id="description-input" aria-describedby="descriptionTextBox" placeholder="Insira aqui a descrição do livro">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="description-input">Descrição</label>
                  <input type="text" class="form-control" id="description-input" aria-describedby="descriptionTextBox" placeholder="Insira aqui a descrição do livro">
                </div>
                <div class="col">
                  <label for="description-input">Descrição</label>
                  <input type="text" class="form-control" id="description-input" aria-describedby="descriptionTextBox" placeholder="Insira aqui a descrição do livro">
                </div>
              </div>
            </section>
          </div>
        </fieldset>
      </div>
    </section>
    <section class="row">
      <div class="col">
        <button class="btn btn-primary-green button-activated">Adicionar</button>
      </div>
    </section>
  </form>
</body>

<footer>
  <section>
    <!--  Put here the GitHub icon/link -->
  </section>
</footer>

<router-outlet></router-outlet>

